$gridSize: 10px;

.confirmModal {
  position: fixed;
  background: #333;
  background: rgba(34, 34, 34, .9);
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;

  &.isOpen {
    display: block;
  }
}

.body {
  width: 40*$gridSize;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 4*$gridSize;
  padding-bottom: 2*$gridSize;
  background: #333;
  box-shadow: 0 0 0 .5*$gridSize rgba(32, 32, 32, .9);
  border-radius: .4*$gridSize;
}

.usersList {
  max-height: 23.5*$gridSize;
  overflow-y: auto;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.highlight {
  font-weight: bold;
  font-style: italic;
}

.buttons {
  margin-top: 1*$gridSize;
  text-align: right;
}

.confirmButton {
  margin-left: 1*$gridSize;
}
