$gridSize: 10px;

.userRow {
  position: relative;
  padding: $gridSize;
  padding-bottom: .8*$gridSize;
  display: block;
  max-width: 100%;
  overflow: hidden;
  animation: fadeIn .25s ease-out both;

  &:nth-of-type(even) {
    background: #333;
  }

  &:hover {
    outline: 1px solid #777;
    outline-offset: -1px;
    cursor: pointer;
  }

  &.isExpanded  {
    outline: 1px solid #555;
    outline-offset: -1px;
  }

  &.isPreview {
    .checkboxPlace {
      display: none;
    }

    &:hover {
      outline: none;
      cursor: default;
    }
  }

  &.isExpanded {
    .details {
      display: block;
    }

    .expandIcon {
      transform: rotate(180deg);
    }
  }

  &.isLoading {
    &:hover {
      outline: none;
      cursor: default;
    }
    
    .overlay {
      display: block;
    }
  }
}

$stripeColor: rgba(255, 255, 255, .25);
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #333;
  opacity: .4;
  display: none;
  background-size: 3*$gridSize 3*$gridSize;
  background-image: linear-gradient(135deg, $stripeColor 25%, transparent 25%,
                      transparent 50%, $stripeColor 50%, $stripeColor 75%,
                      transparent 75%, transparent);            
  
  animation: animate-stripes 3s linear infinite;     
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

$size: 6*$gridSize;
.userpic {
  width: $size;
  height: $size;
  border-radius: 50%;
  background: white;
  background-repeat: no-repeat;
  background-size: 100% auto;
  float: left;
}

.avatarPlace {
  margin-right: 2*$gridSize;
  display: inline-block;
  float: left;
}

.textPlace {
  float: left;
}

.name {
  font-size: 14px;
}

.email {
  font-size: 12px;
}

.requestedDate {
  color: #bbb;
  font-size: 10px;
  margin-top: .7*$gridSize;
  margin-bottom: 0;
}

.buttonsPlace {
  float: right;
  margin-left: 2*$gridSize;
  vertical-align: middle;
}

.checkboxPlace {
  margin-right: 2*$gridSize;
  height: 6.2*$gridSize;
  width: 3*$gridSize;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.checkbox {
  cursor: pointer;
}

.button {
  margin-top: 1.3*$gridSize;

  & + .button {
    margin-left: 1*$gridSize;
  }
}

.originIcon {
  width: 1.2*$gridSize;
  height: 1.2*$gridSize;
  fill: white;
  display: inline-block;
  position: relative;
  top: .1*$gridSize;

  &:hover {
    opacity: .85;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main {
  overflow: hidden;
  position: relative;
}

.details {
  min-height: 20*$gridSize;
  background: #444;
  clear: both;
  padding: 2*$gridSize;
  font-size: 12px;
  font-style: italic;
  color: #aaa;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none;
  margin: .5*$gridSize;
  margin-top: 2*$gridSize;
}

.expandButton {
  height: 6*$gridSize;
  width: 3*$gridSize;
  position: relative;
  float: left;

  &:hover {
    background: #444;
  }
}

$size: 1*$gridSize;
.expandIcon {
  width: $size;
  height: $size;
  fill: #aaa;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -($size/2);
  margin-top: -($size/2);
}
